@model CMS.ViewModels.CalendarViewModel

@{
    ViewData["Title"] = "Home Page";

    string prevDate = Model.CurrentDate.AddDays(-1).ToString("yyyy-MM-dd");
    string nextDate = Model.CurrentDate.AddDays(1).ToString("yyyy-MM-dd");
}

<h2 class="text-center"><b>C</b>linic <b>M</b>anagement <b>S</b>oftware</h2>
<br />

<form method="get" action="@Url.Action("Index")">
    <div class="text-center d-flex justify-content-center align-items-center">
        <a href="@Url.Action("Index", new { date = prevDate })" class="btn btn-secondary">Previous Day</a>

        <input type="date" id="datePicker" name="date" class="form-control me-2" style="width: auto;" value="@Model.CurrentDate.ToString("yyyy-MM-dd")" />

        <a href="@Url.Action("Index", new { date = nextDate })" class="btn btn-secondary">Next Day</a>
    </div>
    <div class="text-center d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary">Submit Date</button>
    </div>

</form>
<br />


@if (Model != null && Model.Visits.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Visit time</th>
                <th>Patient</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Visits)
            {
                <tr>
                    <td>
                        @item.Visit.VisitTime
                    </td>
                    <td>
                        @item.Patient.FullName
                    </td>
                    <td>
                        @item.Employee.FullName
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <p class="text-center">No visits found for @Model.CurrentDate.ToString("yyyy-MM-dd").</p>
}