@model IEnumerable<CMS.ViewModels.VisitViewModel>
@{
    ViewData["Title"] = "Manage visits";
}

<h1>Manage visits</h1>

<div>
    <a asp-action="Create" class="btn btn-primary">Add new</a>
</div>


@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Visit time</th>
                <th>Patient</th>
                <th>Employee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Visit.VisitTime
                    </td>
                    <td>
                        @item.Patient.FullName
                    </td>
                    <td>
                        @item.Employee.FullName
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Visit.VisitId">Edit</a> |
                        <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Visit.VisitId">Details</a> |
                        <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.Visit.VisitId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="spacing row justify-content-center">
        <div class="col-md-6">
            <p class="text-center alert alert-info">No visits found.</p>
        </div>
    </div>
}
