@model CMS.ViewModels.CalendarViewModel

@{
    ViewData["Title"] = "Dashboard";

    string prevDate = Model.CurrentDate.AddDays(-1).ToString("yyyy-MM-dd");
    string nextDate = Model.CurrentDate.AddDays(1).ToString("yyyy-MM-dd");
}

<h1>Dashboard</h1>

<form asp-controller="Dashboard" asp-action="Index" method="get" class="date-picker-form">
    <div class="text-center d-flex justify-content-center align-items-center">
        <a asp-action="Index" asp-route-date="@prevDate" class="btn btn-secondary" aria-label="Previous Day">Previous day</a>
        <input type="date" id="datePicker" name="date" class="form-control mx-2" value="@Model.CurrentDate.ToString("yyyy-MM-dd")" aria-label="Select a date" />
        <a asp-action="Index" asp-route-date="@nextDate" class="btn btn-secondary" aria-label="Next Day"> Next day</a>
    </div>
</form>


@if (Model != null && Model.Visits.Any())
{
    <div class="spacing">
        <table class="table">
            <thead>
                <tr>
                    <th>Visit Time</th>
                    <th>Patient</th>
                    <th>Employee</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var visit in Model.Visits)
                {
                    <tr>
                        <td>@visit.VisitTime</td>
                        <td>@visit.Patient.FullName</td>
                        <td>@visit.Employee.FullName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="spacing row justify-content-center">
        <div class="col-md-6">
            <p class="text-center alert alert-info">No visits found for @Model.CurrentDate.ToString("yyyy-MM-dd").</p>
        </div>
    </div>
}

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var datePicker = document.getElementById('datePicker');
            datePicker.addEventListener('change', function () {
                this.form.submit();
            });
        });
    </script>
}