@model IEnumerable<CMS.Models.Patient>

@{
    ViewData["Title"] = "Manage patients";
}

<h1>Manage patients</h1>
<hr />
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <a asp-action="Create" class="btn btn-primary">Add new</a>
    </div>
    <div class="flex-grow-1" style="max-width: 20%;">
        <form asp-controller="Patient" asp-action="Index" method="get" class="search-form d-flex">
            <input type="text" class="form-control" placeholder="Search..." name="patient" aria-label="Search patient">
        </form>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href='@Url.Action("Details", "Patient", new { id = item.PatientId })';" style="cursor:pointer;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="spacing row justify-content-center">
        <div class="col-md-6">
            <p class="text-center alert alert-info">No patients found.</p>
        </div>
    </div>
}

